html {
    font-family: Arial, Helvetica, sans-serif;
    color: #424242;
    font-size: 16px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: grey;
    transition: color ease-in 300ms;
}

.main-content {
    position: relative;
    top: 64px;
    
}

/* HEADER  */

header {
    position: fixed;
    width: 100%;
    height: 4rem;
    top: 0;
    left: 0;
    align-items: center;
    z-index: 10;
    background-color: white;
}

header .content {
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

.desktop {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

img .logo {
    height: 50px;
}

.logo-text {
    font-size: 1.25rem;
    text-transform: uppercase;
}

.logo-text .colmar {
    color: black;
}

header nav ul {
    display: flex;
    justify-content: right;
}

header nav li{
    list-style: none;
    padding-left: 1rem;
}

@media only screen and (min-width: 481px){
    .mobile {
        display: none;
    }
}

/* BANNER  */

.banner {
    background-color: #DBDBDB;
    display: flex;
    padding: 2rem 1.5rem;
    align-items: center;
}

.banner-img {
    max-width: 60%;
}

.banner-img img {
    width: 100%;
    height: auto;
}

.banner-txt {
    padding: 0 2rem;
    font-size: 1.75rem;
    color: #424242;
}

.banner-txt h1 p {
    display: inline;
}

.button {
    background-color: #424242;
    color: white;
    padding: 0.5rem 0;
    border-radius: 0.4rem;
}

.button p {
    text-align: center;
    line-height: 0;
}

.button:hover {
    background-color: #616161;
    transition: background-color ease-in 300ms;
}

/* INFORMATION */

.info {
    display: flex;
    padding: 2rem 1.5rem;
}

.info-main {
    max-width: 60%;
    padding-right: 1.5rem;
    border-right: 1px solid #424242;
}

.info-main img {
    width: 100%;
    height: auto;
    padding-bottom: 0.3rem;
}

.info-main h2 p {
    display: inline;
}

.info-main h2 {
    font-size: 2.5rem;
}

.info-main p {
    display: inline-block;
    font-size: 1.3rem;
}

.info-boxes {
    width: 40%;
    border-bottom: 1px solid #424242;
    border-top: 1px solid #424242;
}  

.info-or:hover {
    background-color: #DBDBDB;
}

.info-or {
    display: flex;
    margin-bottom: 1rem;
    padding: 2rem 1.5rem;
}    

.info-img {
    max-width: 35%;
}

.info-img img {
    width: 100%;
    height: auto;
}

.info-content {
    width: 65%;
    display: inline;
    padding: 0 1rem;
    align-items: center;
}

.info-content .gr {
    font-size: 1.75rem;
}

.info-content .azul {
    color: #00c0c0;
}