html {
    font-family: Arial, Helvetica, sans-serif;
    color: #424242;
    font-size: 16px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: grey;
    transition: color ease-in 300ms;
}

.main-content {
    position: relative;
    top: 64px;
    
}

/* HEADER  */

header {
    position: fixed;
    width: 100%;
    height: 4rem;
    top: 0;
    left: 0;
    align-items: center;
    z-index: 10;
    background-color: white;
}

header .content {
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

.desktop {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

img .logo {
    height: 50px;
}

.logo-text {
    font-size: 1.25rem;
    text-transform: uppercase;
}

.logo-text .colmar {
    color: black;
}

header nav ul {
    display: flex;
    justify-content: right;
}

header nav li{
    list-style: none;
    padding-left: 1rem;
}

@media only screen and (min-width: 481px){
    .mobile {
        display: none;
    }
}

/* BANNER  */

.banner {
    background-color: #DBDBDB;
    display: flex;
    padding: 2rem 1.5rem;
    align-items: center;
    max-width: 100%;
}

.banner-img {
    max-width: 60%;
}

.banner-img img {
    width: 100%;
    height: auto;
}

.banner-txt {
    padding: 0 2rem;
    font-size: 1.75rem;
    color: #424242;
}

.banner-txt h1 p {
    display: inline;
}

.button {
    background-color: #424242;
    color: white;
    padding: 0.5rem 0;
    border-radius: 0.4rem;
}

.button p {
    text-align: center;
    line-height: 0;
}

.button:hover {
    background-color: #616161;
    transition: background-color ease-in 300ms;
}

/* INFORMATION */

.info {
    display: flex;
    padding: 2rem 1.5rem;
}

.info-main {
    max-width: 60%;
    padding-right: 1.5rem;
    border-right: 1px solid #424242;
}

.info-main img {
    width: 100%;
    height: auto;
    padding-bottom: 0.3rem;
}

.info-main h2 p {
    display: inline;
}

.info-main h2 {
    font-size: 2.5rem;
}

.info-main p {
    display: inline-block;
    font-size: 1.3rem;
}

.info-boxes {
    max-width: 40%;
    border-bottom: 1px solid #424242;
    border-top: 1px solid #424242;
}  

.info-or:hover {
    background-color: #DBDBDB;
}

.info-or {
    display: flex;
    margin-bottom: 1rem;
    padding: 2rem 1.5rem;
}    

.info-img {
    max-width: 35%;
}

.info-img img {
    width: 100%;
    height: auto;
}

.info-content {
    width: 65%;
    display: inline;
    padding: 0 1rem;
    align-items: center;
}

.info-content .gr {
    font-size: 1.75rem;
}

.info-content .azul {
    color: #00c0c0;
}

.info-img-mob {
    display: none;
}

/* COURSES */

.courses {
    background-color: #DBDBDB;
    max-width: 100%;
    padding: 2rem 3rem;
}

.courses h2 {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 2.5rem;
    padding-bottom: 1.5rem;
}

.c-boxes {
    flex-wrap: wrap;
    display: flex;
    margin-top: 2rem;
    justify-content: space-between;
}

.c-container {
    display: block;
    width: 28%;
    background-color: white;
    margin-bottom: 1rem; 
}

.c-container:hover {
    background-color: #f1f1f1;
}

.c-img {
    max-width: 100%;
    padding-bottom: 0.5rem;
}

.c-img img {
    width: 100%;
    height: auto;
}

.c-content {
    padding: 0 1.5rem;
    align-items: center;
}

.c-content h4 {
    font-size: 1.75rem;
}

.c-content p {
    font-size: 1.25rem;
}

/* THESIS */

.thesis {
    max-width: 100%;
    padding: 2rem 0 2rem 1.5rem;
}

.thesis .center {
    margin-bottom: 2rem;
}

.thesis h4 {
    display: inline;
    font-size: 1.75rem;
}

.thesis p {
    font-size: 1.25rem;
    margin-top: 0.5rem;
}

.content-box {
    display: flex;
}

.video-container {
    width: 60%;
    padding-right: 1.5rem;
    border-right: 1px solid black;
}

.video-player {
    margin-bottom: 1.5rem;
}

.video-player video{
    width: 100%;
    height: auto;
}

.thesis .image-container {
    align-items: center;
}

.fisma-container {
    display: flex;
    padding: 1rem 0 1rem 1.5rem;
    margin-bottom: 1rem;
    align-items: center;
}

.fisma-container:hover {
    background-color: #DBDBDB;
    transition: background-color ease-in 300ms;
}

.fisma-container img {
    max-width: 100%;
    height: auto;
}

.thesis h2 {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    padding-bottom: 2rem;
}

/* FOOTER */

footer {
    display: flex;
    position: relative;
    border-top: 1px solid black;
    top: 64px;
    justify-content: space-between;
    padding: 1.5rem 1.5rem;
}

.footer {
    float: right;
}

/* MOBILE HEADER */

@media only screen and (max-width: 480px){
    body {
        margin: 0;
    }

    .desktop, .desktop a, .logo, .logo-text {
        display: none;
    }

    header .content .mobile ul {
        padding-left: 0px;
    }

    .mobile {
        width: 100%;
    }

    header nav ul {
        align-items: center;
        justify-content: space-evenly;
    }

    header nav li {
        padding: 0 1.25rem;
    }

    header .content {
        padding: 0;
    }
}

/* MOBILE BANNER */

@media only screen and (max-width: 480px) {
    .banner {
        display: block;
        padding: 0;
    }

    .banner-img {
        width: 100%;
    }

    .banner-txt {
        padding: 1.5rem 1rem 2rem;
    }

    .banner-txt h1 {
        font-size: 2rem;
    }
}

/* MOBILE INFORMATION */

@media only screen and (max-width: 480px) {
    .info {
        display: block;
        padding: 1rem 1rem 0;
        border-bottom: 0.5px solid #424242;
    }

    .info-main .info-img {
        display: none;
    }

    .info-boxes {
        width: 100%;
        padding: 2rem 0;
    }

    .info-or {
        display: block;
        margin: 0;
        padding-bottom: 2rem;
        padding-left: 0;
    }

    .info-or img {
        width: 100%;
        height: 150px;
    }

    .info-img-mob {
        display: block;
        max-width: 100%;
    }
}

/* MOBILE COURSES */

@media only screen and (max-width: 480px) {
    .courses {
        display: block;
        padding: 2rem 1rem;
        background-color: white;
        border-bottom: 0.5px solid #424242;
    }

    .c-boxes {
        display: block;
        margin-top: 1rem;
    }

    .c-img, .c-content p {
        display: none;
    }

    .c-container {
        width: 100%;
    }

    .c-content {
        background-color: #DBDBDB;
        padding: 1rem 1rem 1.5rem 1rem;
        margin: 0.5rem 0;
    }

    .c-content h4 {
        display: inline;
        align-items: center;
    }

    .c-content:hover {
        color: #616161;
        transition: color ease-in 300ms;
    }
}

@media only screen and (min-width: 481px) and (max-width: 830px) {
    .courses {
        margin-top: 1rem;
        max-width: 100%;
        padding: 1.5rem 2rem;
    }
}

/* MOBILE THESIS */

@media only screen and (max-width: 480px) {
    .thesis .information-boxes, .thesis .fisma-container {
        display: none;
    }

    .thesis h4, .thesis p {
        display: none;
    }

    .thesis {
        padding: 2rem 0;
    }

    .content-box {
        display: block;
        width: 100%;
    }

    .video-container {
        display: block;
        width: 100%;
        margin-right: 0;
    }

    .video-player {
        margin-bottom: 0;
    }
}

/* MOBILE FOOTER */

@media only screen and (max-width: 480px) {
    .footer {
        display: none;
    }

    footer {
        padding: 1rem;
    }
}

@media only screen and (min-width: 481px) and (max-width: 760px) {
    .banner-txt h1 {
        font-size: 1.5rem;
    }

    .banner-txt {
        font-size: 0.8rem;
    }

    .info-content p {
        font-size: 0.75rem;
    }

    .image-or {
        padding-left: 1rem;
    }

    .fisma-container {
        padding: .5rem 0 .25rem 1rem;
    }

    .video-player {
        margin-bottom: .75rem;
    }
}
